<a href="https://colab.research.google.com/github/annaydas48/python19/blob/main/19DecAnnay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>